

.form-section {
  padding: 48px 0; 
}

.form-section__container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 24px; 
}

.form-section__title {
  padding: 0 24px 48px 24px; 
  text-align: center;
  font-size: clamp(1.8rem, 6vw, 2.8rem); 
  color: var(--texto-carbon); 
  margin-bottom: 0; 
  animation-name: viewTitle;
  animation-timeline: view();
  animation-range: entry 30% cover 70%, cover 60% exit 100%;
  animation-fill-mode: both;
  transition: color 0.3s ease; 
}

.form-section__form {
  background-color: var(--contraste-gris-perla);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 
  max-width: 500px;
  width: 100%;
  transition: var(--theme-transition);
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  color: var(--texto-pizarra);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: 500; 
  transition: color 0.3s ease;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%; 
  padding: 0.75rem;
  border: 1px solid #CBD5E0; 
  border-radius: 4px;
  font-size: 1rem;
  color: var(--texto-carbon);
  background-color: var(--base-blanco-nieve);
  box-sizing: border-box; 
  font-family: "Inter", sans-serif;
  transition: var(--theme-transition), box-shadow 0.3s ease;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: var(--texto-pizarra);
    opacity: 0.8;
}


input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: var(--acento-azul-profundo);
  box-shadow: 0 0 0 3px rgba(11, 83, 148, 0.15); 
}

textarea {
  resize: vertical;
  min-height: 100px; 
}

button[type="submit"] {
  background-color: var(--acento-azul-profundo);
  color: var(--base-blanco-nieve);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 6px; 
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: "Inter", sans-serif;
  width: 100%;
  text-align: center;
}

button[type="submit"]:hover {
  background-color: var(--acento-teal); 
  transform: translateY(-2px);
}

button[type="submit"]:active {
   transform: translateY(0);
}

button[type="submit"]:disabled {
   background-color: var(--texto-pizarra);
   color: var(--contraste-gris-perla);
   cursor: not-allowed;
   opacity: 0.7;
}

.thanks-title{
  text-align:center;
  font-size: clamp(1.5rem, 50dvw, 2.5rem);
  color: var(--acento-azul-profundo);

}

.thanks-p{
  text-align: center;
}
